@import 'css/core';

.header {
  @extend %h1;
  background: $app-title;
  color: $app-title-text;
  display: flex;
  flex-direction: row;
  font-weight: $normal;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;

  &__slider {
    font-size: 2rem;
    color: $white;

    &:visited {
      text-decoration: none;
    }

    &:hover {
      color: $white;
      text-decoration: none;
    }

    cursor: pointer;
  }


  &__title {
    display: inline;
    font-weight: $medium;
    margin: 0 auto;
    text-align: center;
    width: 20rem;
  }

  &__clock {
    font-size: 1.4rem;
    font-weight: $light;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}
