$app-background: #f1f1f1;
$app-footer-text: #868686;
$app-footer: #e1e1e1;
$app-sidebar-text: #bbb;
$app-sidebar: #303848;
$app-title-text: #e8f4ff;
$app-title: #337ab7;
$black: #000;
$blue: #337ab7;
$dark-blue: #005cab;
$dark-grey: #808080;
$darkest-grey: #393a42;
$green: #4bb509;
$light-grey: #f7f7f7;
$magenta: #c800a1;
$middle-grey: #e5e5e5;
$red: #ff0;
$white: #fff;
